.wrapper{
   width: 100%;
   height: 100%; 
 }
.wrapper .inte{
   /**
   * 设置容器宽度95%，然后水平居中，这样两边留白; 
   * 这里不能用padding，因为背景图片也会覆盖padding
   */
   width: 100%;
   margin: 0 auto;
   height: 100%;
   
   /*此三个样式组合，可以保证背景图片充满整个容器*/
   background-image: url(../img/acti.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
   box-sizing: border-box;
   padding: 2vw 6vw; 
   }
   .wrapper .inte h3{
    font-size: 8vw;
    margin-top: 10vw;
    margin-left: 38vw;
   	}